html
  head
    title Airtable / Node
    link(rel="stylesheet" href="style.css")
  body
      
    form(method="POST" action="/new")
      input(type="text" name="Name" placeholder="Name")
      input(type="submit" value="Create")

